<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'cdnlines.html' %}
</head>
<body>
    <form>
        <label>NO OF IMPRESSIONS:</label>
        <input type="number" name="impressions" class="form-control">
        <label>NO OF CLICKS:</label>
        <input type="number" name="clicks" class="form-control">
        <label>TOTAL COST</label>
        <input type="number" name="clicks" id="cost" class="form-control">
        <input type="submit" value="Submit">
        <input type="reset" value="Clear">
    </form>
</body>
</html>